.root {
  width: 793px;
  height: 680px;
  position: relative;

  @media screen and (max-width: 1240px) {
    display: none;
  }
}

.smallPokeBall {
  position: absolute;
  top: 5%;
  left: -1%;
}

.cloud {
  position: absolute;
  left: -5%;
  bottom: 35%;
}

.cloudBig {
  position: absolute;
  left: 39%;
  top: 5%;
}

.pokeBall {
  position: absolute;
  top: 24.38%;
  right: -12%;
}

.pikachu {
  position: absolute;
  top: 0%;
  left: -10%;
}

.rootMobile {
  display: none;

  @media screen and (max-width: 1240px) {
    display: contents;
  }
}

.pikachuMobile {
  width: 250px;
  height: 250px;
}
