@import '../../../assets/styles/main.scss';

.select {
  @include mainText;
  border: none;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  width: 135px;
  height: 46px;
  cursor: pointer;
  background: $green;
  text-align: center;

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
  }
}
