@import './../../assets/styles/main.scss';

.root {
  @include btnText;
  border: none;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 9px;
  cursor: pointer;
  outline: 0;

  display: flex;
  align-items: center;
  text-align: center;

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 6px;
  }
}

.wide {
  width: 100%;
}

.small {
  width: 150px;
}

.default {
  width: 200px;
}

.yellow {
  background: $electric2;
}

.green {
  background: $green;
}
