@import './../../assets/styles/main.scss';

.root {
  width: 280px;
  height: 150px;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  background: $white1;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 45px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;

  &:hover {
    transform: scale(1.03);
    transition: all ease-in-out 0s;
  }
}

.infoWrap {
  position: absolute;
  z-index: 1;
  width: 50px;
  top: 23px;
  left: 15px;
}

.titleName {
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  text-decoration: none;
  color: $dark;
}

.pictureWrap {
  width: 132px;
  height: 100%;

  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, $third 0.15%, $fourth 100%);

  img {
    width: 60%;
  }
}
