.h1 {
  font-size: 72px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.h2 {
  font-size: 64px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.h3 {
  font-size: 36px;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 12px;
}

.p {
  font-size: 16px;
}
