@import '../../../assets/styles/main.scss';

@mixin massAbilitiesAndTypes {
  @include normalText;
  width: 175px;
  position: absolute;
  top: 200px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $white;
  text-align: center;
}

.root {
  width: 796px;
  height: 320px;
  border-radius: 16px;
  position: absolute;
  transform: translateX(50%) translateY(80%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (max-width: 1250px) {
    display: none;
  }
}

.rootMobile {
  @media screen and (min-width: 1250px) {
    display: none;
  }

  @media (max-width: 1251px) {
    width: 100%;
    height: calc(100% - 450px);
    border-radius: 16px;
    position: absolute;
    top: calc(100% - 550px);
  }
}

.pictureWrap {
  width: 341px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
  }
}

.pictureWrapMobile {
  width: 151px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
  }
}

.colorWrap {
  @include componentColorCard;
}

.infoWrap {
  position: absolute;
  z-index: 1;
  width: calc(100% - 350px);
  height: 100%;
  left: 350px;
}

.infoWrapMobile {
  position: absolute;
  z-index: 1;
  width: calc(100% - 160px);
  height: 100%;
  left: 150px;

  @media screen and (max-width: 580px) {
    top: 50px;
  }
}

.titleName {
  margin-bottom: 12px;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  text-align: center;
}

.statWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.statItem {
  @include normalText;
  width: 95px;
  border-radius: 8px;
  padding-top: 5px;
  padding: 5px;
  text-align: center;
  color: $gray;
  background-color: $white;
}

.statValue {
  width: 46px;
  height: 46px;
  border: 3px solid $dark;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $dark;
  margin: 0 auto 8px;
}

.abilities {
  @include massAbilitiesAndTypes;
  left: 400px;
}

.abilitiesMobile {
  @include massAbilitiesAndTypes;
  left: 680px;
  @media screen and (max-width: 1224px) {
    left: 380px;
  }
  @media screen and (max-width: 1024px) {
    left: 280px;
  }
  @media screen and (max-width: 580px) {
    display: none;
  }
}

.types {
  @include massAbilitiesAndTypes;
  left: 580px;
}

.typesMobile {
  @include massAbilitiesAndTypes;
  left: 280px;
  @media screen and (max-width: 1224px) {
    left: 720px;
  }
  @media screen and (max-width: 1024px) {
    left: 520px;
  }
  @media screen and (max-width: 580px) {
    display: none;
  }
}
