@import './../../assets/styles/main.scss';

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: $darkOpacity;
}

.closeCross {
  position: relative;
  z-index: 3;
  cursor: pointer;
  top: calc(100% - 550px);
  left: calc(100% - 150px);
}
