@import '../../assets/styles/main.scss';

.root {
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $third;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);

  @media (max-width: 768px) {
    display: none;
  }
}

.wrap {
  width: 100%;
  max-width: 1525px;
  height: 63px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokemonLogo {
  width: 158px;
  height: 63px;
}

.menuWrap {
  display: flex;
  align-items: center;
  max-width: 958px;
  width: 100%;
  justify-content: space-between;
}

.menuLink {
  @include menuLink;
}
