@import '../../../assets/styles/main.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.heading {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;

  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
