@import '../../../assets/styles/main.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.heading {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;
}

.input {
  @include mainText;
  height: 53px;
  width: calc(100% - 150px);
  padding-left: 31px;
  display: flex;
  align-self: center;
  background: $white;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
}

.selects {
  display: flex;
  align-self: center;
  gap: 25px;
}

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
