$second: #f28f16;
$third: #f5db13;
$fourth: #fde42b;

$white: #f2f2f2;
$white1: #f6f7f9;

$dark: #212121;
$darkOpacity: #21212180;
$green: #73d677;
$gray: #4b4b4b;

$fire1: #b33327;
$fire2: #d93e30;

$bug1: #9fbb23;
$bug2: #9cb820;

$dark1: #726861;
$dark2: #7d726b;

$dragon1: #a081ec;
$dragon2: #ad8cff;

$electric1: #f2cb07;
$electric2: #f2b807;

$fairy1: #f89eae;
$fairy2: #f4b5c1;

$fighting1: #d44b44;
$fighting2: #e25149;

$flying1: #969cf1;
$flying2: #9096f0;

$ghost1: #9175bd;
$ghost2: #9a7dca;

$grass1: #67d36b;
$grass2: #64d368;

$ground1: #c8a35c;
$ground2: #e0b668;

$ice1: #8cc7c7;
$ice2: #98d8d8;

$normal1: #999999;
$normal2: #a8a8a8;

$poison1: #df7edf;
$poison2: #d876d8;

$psychic1: #e9527f;
$psychic2: #f85888;

$rock1: #a89333;
$rock2: #b8a038;

$steel1: #658490;
$steel2: #6d8f9c;

$water1: #5bc7fa;
$water2: #35baff;
